/* Copyright comment */
@import "minimal-mistakes/copyright";

/* Variables */
@import "minimal-mistakes/variables";

/* Mixins and functions */
@import "minimal-mistakes/vendor/breakpoint/breakpoint";
@include breakpoint-set("to ems", true);
@import "minimal-mistakes/vendor/magnific-popup/magnific-popup"; // Magnific Popup
@import "minimal-mistakes/vendor/susy/susy";
@import "minimal-mistakes/mixins";

/* Core CSS */
@import "minimal-mistakes/reset";
@import "minimal-mistakes/base";
@import "minimal-mistakes/forms";
@import "minimal-mistakes/tables";
@import "minimal-mistakes/animations";

/* Components */
@import "minimal-mistakes/buttons";
@import "minimal-mistakes/notices";
@import "minimal-mistakes/masthead";
@import "minimal-mistakes/navigation";
@import "minimal-mistakes/footer";
@import "minimal-mistakes/search";
@import "minimal-mistakes/syntax";

/* Utility classes */
@import "minimal-mistakes/utilities";

/* Layout specific */
@import "minimal-mistakes/page";
@import "minimal-mistakes/archive";
@import "minimal-mistakes/sidebar";
@import "minimal-mistakes/print";

// Custom class
@import "minimal-mistakes/custom";

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  color: rgb(188, 145, 3);
}

p a {
  color: inherit;
  text-decoration: underline;
}

a strong {
  color: inherit;
  text-decoration: underline;
}
 
form {
  // Base styles for the form
  margin: 0 auto;
  border-radius: 10px;

  label {
    display: block;
    margin-bottom: 0.5em;
  }

  input, textarea, select, button {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;

    &:focus {
      outline: none;
      border-color: #0073e6; /* Change to your preferred focus border color */
      box-shadow: 0 0 5px rgba(0, 115, 230, 0.5); /* Optional: add a shadow to indicate focus */
    }
  }

  button {
    background-color: #0073e6;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #005bb5;
    }
  }
}

.photo-label {
  margin-bottom: 0.3rem !important;
  color: grey;
  font-size: 0.9em !important;
}

